.dropdown-toggle {
  cursor: pointer;
}
.nav-link:hover {
  cursor: pointer;
}

/* For Navbar Collapse Expand Animation */
/* .navigationbar {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.navigationbar.show {
  max-height: 200px;
  opacity: 1;
} */

/* @media (min-width: 576px) {
  .navigationbar {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 56px;
    display: block;
    overflow: hidden;
    opacity: 1;
  }
} */

/* For dropdown animation */
/* .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown-menu.show {
  max-height: 200px;
  opacity: 1;
} */
